<div class="container">
  <div class="row text-center">
    <div class="col-3">
      <h1 class="mt-3">VOTSLOT</h1>
    </div>
    <div class="col-6 offset-3 mt-3">
      <ul class="nav justify-content-end nav-fill">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-dark" href="#">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 text-dark" href="#">Каталог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 text-dark" href="#">Контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 text-dark">Еще что-то</a>
        </li>
      </ul>
    </div>
  </div>
</div>

