<!-- <div class="container marginTopTen">
  <div class="row text-center">
    <div class="col-6 offset-6 mt-3">
      <ul class="nav justify-content-end nav-fill">
        <li class="nav-item">
          <a class="nav-link active fs-4 text-dark" href="#">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 text-dark" href="#">Каталог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 text-dark" href="#">Контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4 text-dark">Еще что-то</a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<div class="footer-dark mt-5">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-3 offset-2 item">
                  <h3>Каталог</h3>
                  <ul>
                      <li><a href="#">Какая-то одежда</a></li>
                      <li><a href="#">Какая-то одежда</a></li>
                      <li><a href="#">Какая-то одежда</a></li>
                  </ul>
              </div>
              <div class="col-3 item">
                  <h3>О нас</h3>
                  <ul>
                      <li><a href="#">+7 (999) 999-99-99</a></li>
                      <li><a href="#">Адресс</a></li>
                      <li><a href="#">Группа VK</a></li>
                      <li><a href="#">Инстаграм(иконки всякие)</a></li>
                  </ul>
              </div>
              <div class="col-3 item text">
                  <h3>Контакты</h3>
                  <ul>
                    <li><a href="#">+7 (999) 999-99-99</a></li>
                    <li><a href="#">Адресс</a></li>
                    <li><a href="#">Группа VK</a></li>
                    <li><a href="#">Инстаграм(иконки всякие)</a></li>
                </ul>
              </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
          </div>
          <p class="copyright">VOTSLOT © 2022</p>
      </div>
  </footer>
</div>
